/* TO FIX
Colors of buttons
Fonts of buttons
OnClick color change of buttons
Alignment of button contents
Display of results in 1,000s do not display with a ,
Display of results should have max cap of digits
Display of results should be smaller font if more than x digits */

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid orange;
}

h1,
#display {
  color: white;
}

h1 {
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: fit-content;
  align-self: center;
}

#display {
  width: 100%;
  font-size: 3rem;
  padding-right: 12px;
  margin-bottom: 16px;
  text-align: right;
}

#inputs {
  display: grid;
  gap: 12px;
  width: fit-content;
  min-height: 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.btn {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 2rem;
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.btn-2x {
  grid-column: span 2;
  border-radius: 64px;
  width: 140px;
}

.operator,
#equals {
  background-color: orange;
}

.util {
  background-color: grey;
}
